<div class="center jumbotron">
  <h1>Cook Book Web Scrapa</h1>

  <h2>
    Devin Lewtan - Engineering Project 2018
    <a href="http://www.railstutorial.org/">web app</a>
    fram scratch!
  </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("Troops-Social-Share.jpg", alt: "Troops logo"),
            'http://troops.ai/' %>