<li id="user_ingredient-<%= user_ingredient.id %>">
   <span class="food"><%= user_ingredient.food%></span>

   <span class="actions">
   <div class="btn-group btn-group-sm">
    <button type="button" class="btn btn-danger"><%= link_to "Remove", user_ingredient, method: :delete, data: { confirm: "Are you sure?" } %></button>
  </div>
   </span>
</li>
