<h1>My Fridge</h1>
 
  <div class="row">
      <button type="button" class="btn btn-default"><%= link_to " + New Ingredient", new_user_ingredient_path %></button>

 <div class="col-md-12">
      <h3>Ingredients (<%= @user_ingredients.count %>)</h3>
      <ol class="user_ingredients">
        <%= render @user_ingredients %>
      </ol>
</div>
</div>
