
<h1>My Fridge</h1>
<h2>Not sure what to make? Add ingredients available at home here. These ingredients will help narrow down recipes to pick from!</h2>
      <h3>Ingredients (<%= @user_ingredients.count %>)</h3>
      <div class="wrapper">
        <%= render @user_ingredients[0, @user_ingredients.count] %>
        <div class="box">
            <%= render 'user_ingredient_form' %>
      </div>
      </div>
