<h1>My Recipes</h1>

<div class="row">
  <div class="col-md-8">
      <h3>Recipes </h3>
      <ol class="recipes">
        <%= render @recipes %>
        <ul class="ingredients">
        <%= render @ingredients %>
      </ul>
      </ol>
    </div>
    <p>Scraped from <a href="https://www.hellofresh.com/recipes/quick-meals-collection">HelloFresh</a></p>
</div>
